<div class="outerDiv">
    <mat-card class="centerCard">
        <mat-card-title>Create New Event</mat-card-title>

        <mat-card-content>
            <form #form="ngForm" (ngSubmit)="addEvent()">
                <mat-form-field [hideRequiredMarker]="true" appearance="outline">
                    <mat-label>Event Title</mat-label>
                    <input matInput type="text" name="title" required [(ngModel)]="newEvent.eventTitle">
                    <mat-error>You must enter a value</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field [hideRequiredMarker]="true" appearance="outline">
                    <mat-label>Event Location</mat-label>
                    <input matInput type="text" name="location" required [(ngModel)]="newEvent.location">
                    <mat-error>You must enter a value</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field [hideRequiredMarker]="true" appearance="outline">
                    <mat-label>Event Desciption</mat-label>
                    <textarea matInput type="text" name="desciption" required [(ngModel)]="newEvent.description"></textarea>
                    <mat-error>You must enter a value</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field [hideRequiredMarker]="true" appearance="outline">
                    <input matInput type="datetime-local" placeholder="Choose a date and time" name="eventTime" [(ngModel)]="newEvent.eventTime">
                </mat-form-field>
                <br>
                <button type="submit" mat-flat-button [disabled]="!form.valid" color="primary">Create</button>
            </form>
        </mat-card-content>

    </mat-card>
</div>