.smolBtn {
    margin-bottom: 10px;
}

mat-card-title {
    margin: 20px 0px;
}

mat-form-field {
    width: 250px;
}

#createBtn {
    width: 250px;
    height: 55px;
    margin-bottom: 10px;
}

.outerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centerCard {
    width: 340px;
    text-align: center;
    margin: 50px;
    padding: 20px;
}

@media (min-width: 700px) {
    .smolBtn {
      display: none;
    }
}

@media (max-width: 700px) {
    .centerCard {
        text-align: center;
        margin: 0px;
        padding: 1.5vw;
    }

    .outerDiv {
        margin: 10px;
    }
}