<h1>About</h1>
<h3>
With a vision to create community for her children and bring balance into her life by adding
outdoor activities Autumn Bear birthed MO Wild+Wonderful in 2019.
She is the mother of 4 eternal souls making a difference in their world. Courtney is married,
Emeley is engaged, David is launching into the workforce and Gentry leads along side her as
he enters middle school. With 22 years of homeschooling experience Autumn brings thoughtful
insight and confident vision in how and why to create wonder for ourselves and families.
Soon after MO Wild+Wonderful came into the world Brigette Lytle joined our vision with
leadership in our hiking season, March-November. She leads five children of her own on the
great life adventure they are creating together with her husband, Heath.
We are a community of families who learn through the seasons with unit studies, book clubs,
nature journaling, handicrafts and hiking. We also offer mom connections.
</h3>

<img src="assets/Autumn_Journaling.jpg" alt="image">