.section1 {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* .image-container {
  position: relative;
  height: 100%;
} */

.image1,
.image2 {
  width: 100%;
  min-height: 100vh;
  opacity: 0.75;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image1 {
  background-image: url('/assets/Home_Main.jpg');
  
}

.image2 {
  background-image: url('/assets/homepage_background.png');
  
}

@media (max-width: 768px) {

  .image1,
  .image2 {
    min-height: 50vh;
  }
}




.section2 {
  height: 100vh;
  background-size: cover;
  text-align: center;
}

.upcoming {
  color: antiquewhite;
  text-align: center;
  font-size: x-large;
}

img {
  display: flex;
  width: 100%;
}

.events {
  width: 75%;
   cursor: pointer;
  border: 1px black solid;
  border-radius: 5px;
  text-align: center;
}

body, html {
  height: 100%;
  overflow: auto;
}