
<div class="section1">
  <div class="image-container">

    <div class="image1"></div>

    <div class="image2">
      <br>
      <br>
      <h1 class="upcoming">Upcoming Events</h1>
      <mat-grid-list [cols]="getGridColumns()" rowHeight="300px">
      <mat-grid-tile *ngFor="let event of eventList; let i = index">
        <ng-container *ngIf="i < 2">
          <mat-card class="btn" [routerLink]='["/event-details", event.eventId]' class="events">
            <mat-card-header>
              <mat-card-title>{{ event.eventTitle }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Description: {{ event.description }}</p>
              <p>Host Name: {{ event.hostName }}</p>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </mat-grid-tile>
    </mat-grid-list>
    </div>

  </div>
</div>

<!-- <div class="section2">
  <br>
  <h1>This is the third section as a placeholder</h1>
</div> -->