.smolBtn {
    margin-bottom: 10px;
}

.outerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#secondDiv {
    margin-top: 10px;
}

mat-card-content {
    text-align: left;
}

mat-card {
    max-width: 550px;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: 20px;
}

@media (max-width: 950px) {
    .outerDiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }
}

@media (min-width: 700px) {
    .smolBtn {
      display: none;
    }
}

@media (max-width: 700px) {
    mat-card {
        margin: 0px;
    }

    mat-card-title {
        font-size: 5vw;
    }

    .outerDiv {
        margin: 10px;
    }
}