
<mat-toolbar id="navBar" color="primary">
    <img id ="logo" src="assets/wildwonderfullogooutline.png" alt="wildwonderful logo">
    <span *ngIf="router.url === '/home'">
        <span class="missouri-text">Missouri Wild and Wonderful</span>
    </span>

    <span *ngIf="!(router.url === '/home')">
        <button mat-button routerLink="/home"> Home </button>
    </span>

      <span class="spacer"></span>

      <span>
        <button mat-button routerLink="/resources">Resources</button>
      </span>

      <span>
        <button mat-button routerLink="/calendar">Events</button>
      </span>

      <span>
        <button mat-button routerLink="/about">About</button>
      </span>
      <div class="container">
    <span class="register-login" *ngIf="!(userService.isLoggedIn$ | async)">
      <span *ngIf="(router.url !== '/register') && (router.url !== '/login')">
        <button mat-button routerLink="/register">Register</button>
        <button mat-button routerLink="/login">Login</button>
      </span>
    </span>
  
    <span class="register-login" *ngIf="isLoggedIn" class="welcome-container">
      <span class="welcome-message">Welcome, {{firstName}} {{lastName}}</span><br>
      <span *ngIf="isAdmin">
        <button mat-button routerLink="/event-create"> Create Event </button>
      </span>
      <button mat-button class="logout-button" (click)="logout()">Logout</button>
    </span>
  </div>

   
  
</mat-toolbar>

<router-outlet></router-outlet>

