.spacer {
    flex: 1 1 auto;
}

#logo {
    width: 3.5em;
}

#navBar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

@media (max-width: 768px) {
      #navBar span.missouri-text{
        display: none;
    }
    #navBar{
        display: flexbox;
        justify-content: end;
        font-size: x-small;
        flex-wrap: nowrap;
        height: 75px;
    }
}

mat-toolbar .register-login{
    margin-left: auto;
}

