h1 {
    text-align: center;
}
mat-card {
    max-width: 450px;
    margin: 0px 15px 15px 15px;
}

mat-card-subtitle {
    margin: 0px;
}

mat-card-content {
    text-align: left;
}

#content {
    display: flex;
    flex-direction: row;
}

#titleDiv {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

#createbutton {
    margin-left: 20px;
}

.detailButton {
    width:100%;
    height: 100%;
}

.outerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.spacer {
    flex: 1 1 auto;
}

.mat-card-header-text {
    margin: 0px;
}

@media (max-width: 960px) {
    #secondDiv{
      display: none;
  }
}