<div id="loginDiv">
  <div>
    <mat-card class="centerCard">
        <mat-card-title>Missouri Wild and Wonderful</mat-card-title>

        <mat-card-content>
          <form #form="ngForm"(ngSubmit)="signin()">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="text" name="email" [formControl]="emailValid" required [(ngModel)]="email">
              <mat-error *ngIf="emailValid.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" name="password" required [(ngModel)]="password">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error >You must enter a value</mat-error>
            </mat-form-field>
            <br>
            <button type="submit" mat-flat-button color="primary">Log In</button>
          </form>   
          <mat-divider></mat-divider>
        </mat-card-content>
      
        <mat-card-actions>
            <button mat-flat-button color="accent" routerLink="/register">Create new account</button>
        </mat-card-actions>

    </mat-card>
  </div>
</div>