<!-- <div class="whole">
    <form (ngSubmit)="signin()">
        <h1>LOGIN</h1>
        <span>Email</span>
        <input placeholder="Email" type="text" name="email" [(ngModel)]="email">
        <br><br>
        <span>Password  </span>
        <input placeholder="Password" type="password" name="password" [(ngModel)]="password">
        <br><br>
        
        <button>
          Login
        </button>
    </form>
    </div> -->

<mat-card class="centerCard">

    <mat-card-header>
        <mat-card-title>Missouri Wild and Wonderful</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form #form="ngForm"(ngSubmit)="signin()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" name="email" [(ngModel)]="email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <button type="submit" mat-button>Log In</button>
      </form>   
      <mat-divider></mat-divider>
    </mat-card-content>
  
    <mat-card-actions>
        <button mat-button routerLink="/register">Create new account</button>
    </mat-card-actions>

</mat-card>