
<div id ="mainDiv">
    <div id ="sideDiv" mode="side" opened>
        <div class="sideTitle" (click)="scroll(podcasts)">Podcasts</div> 
        <div class="sideTitle" (click)="scroll(curriculum)">Curriculum Autumn loves</div>
        <div class="sideTitle" (click)="scroll(books)">Books/series</div>
        <div class="sideTitle" (click)="scroll(audio)">Audio</div> 
        <div class="sideTitle" (click)="scroll(publication)">Publication</div>
        <div class="sideTitle" (click)="scroll(authors)">Authors</div>
        <div class="sideTitle" (click)="scroll(games)">Games</div> 
        <div class="sideTitle" (click)="scroll(chocolate)">Chocolate</div>
        <div class="sideTitle" (click)="scroll(health)">Health</div>
        <div class="sideTitle" (click)="scroll(art)">Art</div> 
        <div class="sideTitle" (click)="scroll(linen)">Linen</div>
        <div class="sideTitle" (click)="scroll(subscription)">Subscription</div>
    </div>
    
    <div id ="content">

        <div id="heading">
            <h1>Resources</h1>
            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>keyboard_arrow_down</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="scroll(podcasts)" routerLink="/about">Podcasts</button>
                <button mat-menu-item (click)="scroll(curriculum)">Curriculum Autumn loves</button>
                <button mat-menu-item (click)="scroll(books)">Books/series</button>
                <button mat-menu-item (click)="scroll(audio)">Audio</button>
                <button mat-menu-item (click)="scroll(publication)">Publication</button>
                <button mat-menu-item (click)="scroll(authors)">Authors</button>
                <button mat-menu-item (click)="scroll(games)">Games</button>
                <button mat-menu-item (click)="scroll(chocolate)">Chocolate</button>
                <button mat-menu-item (click)="scroll(health)">Health</button>
                <button mat-menu-item (click)="scroll(art)">Art</button>
                <button mat-menu-item (click)="scroll(linen)">Linen</button>
                <button mat-menu-item (click)="scroll(subscription)">Subscription</button>
            </mat-menu>
        </div>

        <h2 #podcasts>Podcasts</h2>
        <div>
            <ul>
                <li><a href="https://open.spotify.com/show/1f8ruszmJ4SebK3qS78zYe">Brave Writer by Julie Bogart</a></li>
                <li><a href="https://open.spotify.com/show/4oQvrzvCzA0o3FVpXqRJFJ">Wild + Free by Ainsley Arment</a></li>
                <li><a href="https://open.spotify.com/show/0FbFMGzwEXmp5a72KNEEW7">Read-Aloud Revival by Sarah Mackenzie</a></li>
                <li><a href="https://open.spotify.com/show/61waXSpXVS713OiGS62VgV">The No Sweat Nature Study by Cindy West</a></li>
                <li><a href="https://open.spotify.com/show/4hoZOjyZOnY7y2io5lI18l">1000 Hours Outside by Ginny Yurich</a></li>
                <li><a href="https://open.spotify.com/show/2brDfTW27CjoKwKk1ovEqy">The Next Right Thing by Emily P. Freeman</a></li>
                <li><a href="https://open.spotify.com/show/31VLD2nuDtc9inaLicPkQA">The Bible Project by Pastor Jeremy R. McCandless</a></li>
                <li><a href="https://open.spotify.com/show/2rB6UTLYlY6fPp0pYezMM9">One Thousand Words by Matthew Clark</a></li>
                <li><a href="https://open.spotify.com/show/6MabGhtg9WAzCpgCxAS8ir">Move Your DNA by Katy Bowman</a></li>
                <li><a href="https://open.spotify.com/show/2vJHmWhhcMQRXtTruuFWTJ">The Art of Manliness by Bret McKay</a></li>
            </ul>
        </div>




        <h2 #curriculum>Curriculum Autumn loves</h2>
        <ul>
            <li><a href="https://mathusee.com/">Math-U-See</a></li>
            <li><a href="https://www.apologia.com/">Apologia</a></li>
            <li><a href="https://gatherroundhomeschool.com/">Gather 'Round Homeschool</a></li>
            <li><a href="https://heartofdakota.com/">Heart of Dakota</a></li>
            <li><a href="https://christcenteredcurriculum.com/">Christ Centered Curriculum (k-2)</a></li>
            <li><a href="https://www.lilyandthistle.com/">Lily and Thistle</a></li>
            <li><a href="https://creatingamasterpiece.com/">Creating a Masterpiece</a></li>
            <li><a href="https://readaloudrevival.com/">Read Aloud Revival</a></li>
            <li><a href="https://characterfirsteducation.com/">Character First</a></li>
            <li><a href="https://horizontalhive.com/">Horizontal Hive</a></li>
            <li><a href="https://ourjourneywestward.com/">Our Journey Westward</a></li>
            <li><a href="https://chalkpastel.com/">You Are an Artist</a></li>
            <li><a href="https://bestowingthebrush.com/">Bestowing the Brush</a></li>
            <li><a href="https://adpsports.com/">ADP Sports</a></li>
            <li><a href="https://raisinglittleshoots.com/buy-exploring-nature-with-children/">Nature Study with Children</a></li>
            <li><a href="https://naturestudyhacking.com/">Nature Study Hacking</a></li>
        </ul>



        <h2 #books>Books/series</h2>
        <ul>
            <li><a href="https://www.penguinrandomhouse.com/series/SI8/sir-cumference">Sir Cumference (series)</a></li>
            <li><a href="https://www.abramsbooks.com/hazardoustales/">Nathan Hale's Hazardous Tales (series)</a></li>
            <li><a href="https://www.thriftbooks.com/series/a-kids-guide-to-drawing-america/56561/">A Kid's Guide to Drawing America (series)</a></li>
            <li><a href="https://www.amazon.com/Nest-Celeste-Story-Inspiration-Meaning/dp/0061704121">A Nest for Celeste</a></li>
            <li><a href="https://www.amazon.com/Brambleheart-Finding-Treasure-Unexpected-Friendship/dp/0062245449/ref=sr_1_1?keywords=brambleheart&s=books&sr=1-1">Brambleheart</a></li>
            <li><a href="https://www.allthewonders.com/books/the-journey-trilogy/">The Journey Trilogy (series)</a></li>
            <li><a href="https://lamplighter.net/product/trusty-collection-10-titles-2/">Trusty the Train (series)</a></li>
            <li><a href="https://www.ywampublishing.com/c-64-biography.aspx">YWAM biographies (series)</a></li>
            <li><a href="https://www.shopchristianliberty.com/mr-pipes-complete-set/">Mr. Pipes (series)</a></li>
            <li><a href="https://www.penguin.co.uk/books/444046/the-tale-of-peter-rabbit-picture-book-by-potter-beatrix/9780241523582">Peter Rabbit</a></li>
            <li><a href="https://sdsmith.com/the-green-ember-series/">The Green Ember (series), Green Ember: Old Natalia (series), Green Ember: Archer (series)</a></li>
            <li><a href="https://tuttletwins.com/products/?al_pg_id=5c28e352-e0f5-4c17-83fa-8a5d5a6ea064">The Tuttle Twins (series)</a></li>
            <li><a href="https://www.andrew-peterson.com/the-wingfeather-saga">The Wingfeather Saga (series)</a></li>
            <li><a href="https://store.iblp.org/character-sketches-three-volume-set.html">Character Sketches: Bible/Science/Nature study</a></li>
            <li><a href="https://lamplighter.net/product/ishmael-self-raised-special/">Ishmael (book) and Self Raised (book)</a></li>
            <li><a href="https://www.amazon.com/Okay-Now-Gary-D-Schmidt/dp/1432875906">Okay for Now</a></li>
            <li><a href="https://www.simonandschuster.com/books/A-Place-to-Belong/Cynthia-Kadohata/9781481446655">A Place to Belong</a></li>
            <li><a href="https://www.amazon.com/Wrinkle-Time-Quintet/dp/0312367546">A Wrinkle in Time</a></li>
        </ul>



        <h2 #audio>Audio</h2>
        <ul>
            <li><a href="https://www.keysforkids.org/Programming/Down-Gilead-Lane/Read-Listen">Down Gilead Lane</a></li>
            <li><a href="https://www.jonathanpark.com/pages/entire-collection">Jonathan Park</a></li>
            <li><a href="https://lamplighter.net/theatre/">Lamplighter Audio Dramas</a></li>
            <li><a href="https://www.ywampublishing.com/c-101-audiobooks-cd.aspx">YWAM Biographies (audio)</a></li>
        </ul>



        <h2 #publication>Publication</h2>
        <ul>
            <li><a href="https://bellagrace.com.au/">Bella Grace</a></li>
        </ul>



        <h2 #authors>Authors</h2>
        <ul>
            <li><a href="https://www.simonandschuster.com/authors/Patricia-Polacco/707080">Patricia Polacco</a></li>
            <li><a href="https://www.janeyolen.com/about-site/">Jane Yolen</a></li>
            <li><a href="https://readaloudrevival.com/start-here/">Sarah Mackenzie</a></li>
            <li><a href="https://www.andrew-peterson.com/about">Andrew Peterson</a></li>
            <li><a href="https://connorboyack.com/">Connor Boyack</a></li>
            <li><a href="https://sallyclarkson.com/about">Sally Clarkson</a></li>
            <li><a href="https://www.chuckblack.com/about-the-author">Chuck Black</a></li>
            <li><a href="https://www.thriftbooks.com/a/eb-white/196608/">E.B. White</a></li>
            <li><a href="https://www.penguinrandomhouse.com/authors/238237/robert-mccloskey/">Robert McCloskey</a></li>
            <li><a href="https://www.penguinrandomhouse.com/authors/5634/barbara-cooney/">Barbara Cooney</a></li>
            <li><a href="https://www.thoenebooks.com/">Bodie and Brock Thoene</a></li>
            <li><a href="https://ruthchousimons.com/about">Ruth Chou Simons</a></li>
            <li><a href="http://sharonlovejoy.com/about-sharon/biography.html">Sharon Lovejoy</a></li>
            <li><a href="https://www.madeleinelengle.com/madeleine-lengle/">Madeleine L'engle</a></li>
            <li><a href="https://charlottemasoninspired.com/amber-oneal-johnston/">Amber O'Neal Johnston</a></li>
            <li><a href="https://calvin.edu/directory/people/gary-schmidt">Gary Schmidt</a></li>
            <li><a href="https://sdsmith.com/about-sam/">S.D. Smith</a></li>
        </ul>



        <h2 #games>Games</h2>
        <ul>
            <li><a href="https://www.ravensburger.us/discover/gravitrax/index.html">GraviTrax</a></li>
            <li><a href="https://www.elenco.com/snap-circuits-2/">Snap Circuits</a></li>
            <li><a href="https://www.amazon.com/professor-noggins-card-games/s?k=professor+noggins+card+games">Professor Noggin</a></li>
            <li><a href="https://boardgamegeek.com/geeksearch.php?action=search&objecttype=boardgame&q=10%20days">10 Days board game series</a></li>
        </ul>



        <h2 #chocolate>Chocolate</h2>
        <ul>
            <li><a href="https://unrealsnacks.com/">Unreal</a></li>
            <li><a href="https://askinosie.com/">Askinosie</a></li>
            <li><a href="https://hmchocolates.com/">Honeymoon Chocolate</a></li>
            <li><a href="https://www.frenchbroadchocolates.com/">French Broad</a></li>
        </ul>



        <h2 #health>Health</h2>
        <ul>
            <li><a href="https://againstallgrain.com/">Against All Grain</a></li>
            <li><a href="https://www.groovyorganiccleaning.com/">Groovy Organic Cleaning</a></li>
            <li><a href="https://holyyoga.net/">Holy Yoga</a></li>
            <li><a href="https://3rddayliving.com">3rd Day Living</a></li>
            <li><a href="https://www.care-international.org/">CARE International</a></li>
            <ul>
                <li>Raindrop technique</li>
                <li>Vitaflex</li>
                <li>Emotional Release</li>
                <li>Chemistry of Essential Oils</li>
                <li>History of Laying on of Hands and Anointing</li>
            </ul>
            <li><a href="https://www.youngliving.com/us/en/referral/1368012">Young Living</a></li>
            <ul>
                
                <li>Essential oils</li>
                <li>Laundry detergent</li>
                <li>Oral care</li>
                <li>Personal care</li>
                <li>Supplements</li>
                <li>Food</li>
            </ul>
            
        </ul>



        <h2 #art>Art</h2>
        <ul>
            <li><a href="https://ruthchousimons.com/about">Ruth Chou Simons</a></li>
            <li><a href="https://www.storypaintings.net/bio">Amy Grimes</a></li>
            <li><a href="https://www.sight-sound.com/">Sight and Sound Theater</a></li>
            <li><a href="https://storybooktheater.org/">Storybook Theater</a></li>
            <li><a href="https://breezytulip.com/about/">Breezy Brookshire</a></li>
            <li><a href="https://www.thepotteress.com/thepotteress">The Potteress</a></li>
            <li><a href="https://www.melissasweet.net/about">Melissa Sweet</a></li>
        </ul>



        <h2 #linen>Linen</h2>
        <ul>
            <li><a href="https://www.linoto.com/">Linoto</a></li>
        </ul>


        <h2 #subscription>Subscription</h2>
        <ul>
            <li><a href="https://readaloudrevival.com/">Read Aloud Revival</a></li>
            <li><a href="https://www.youngliving.com/">Young Living Rewards</a></li>
        </ul>

    </div>
    
</div>
