<h1>Resources</h1>

<h2>Podcasts</h2>
<p>Brave Writer,
    Wild+Free,
    Read Aloud Revival,
    The No Sweat Nature Study,
    1000K Hours Outside,
    The Next Right Thing,
    The Bible Project,
    One Thousand Words,
    Move Your DNA,
    Art of Manliness</p>



<h2>Curriculum Autumn loves</h2>
<p>MathUSee,
    Apologia,
    Gather Round Homeschool,
    Heart of Dakota,
    Christ Centered Curriculum (k-2),
    Lily and Thistle,
    Masterpiece Studio,
    Nature Study with Children,
    Nature Journaling Hacks,
    Read Aloud Revival,
    Character First,
    Horizontal Hives,
    Our Journey Westward,
    You are an Artist,
    Bestowing the Brush,
    Happy 5 (ADP Sports)</p>



<h2>Books/series</h2>
<p>Jonathan Park (audio),
    Sir Cumference Math,
    Nathan Hale&#39;s Hazardous Tales History,
    A Kid&#39;s Guide How to Draw Sites and Symbols,
    A Nest for Celeste History/Literature,
    Brambleheart,
    A Journey Trilogy,
    Train Character,
    YWAM biographies and studies History/Literature,
    Mr. Pipes History/Literature,
    Beatrix Potter,
    The Green Ember,
    Tuttle Twins Government/economics/history,
    Wingfeather Saga,
    Character Sketches Bible/science/Nature Study,
    Ishmael,
    Self Raised,
    Ok For Now,
    A Place to Belong,
    A Wrinkle in Time</p>



<h2>Audio</h2>
<p>Down Gilead Lane,
    Jonathan Park,
    Lamplighter Audio Dramas,
    YWAM biographies</p>



<h2>Publication</h2>
<p>Bella Grace</p>



<h2>Authors</h2>
<p>Patricia Polacco,
    Jane Yolen,
    Sarah Mackenzie,
    Andrew Peterson,
    Connor Boyack,
    Sally Clarkson,
    Chuck Black,
    EB White,
    Robert McCloskey,
    Barbara Cooney,
    Brock and Bodie Thoene,
    Ruth Chou Simons,
    Sharon Lovejoy,
    Madeleine L&#39;engle,
    Amber Johnston O&#39;Neil,
    Sam,
    Gary Schmidt</p>



<h2>Games</h2>
<p>Gravitrax,
    Circuit,
    Professor Noggin,
    10 Days</p>



<h2>Chocolate</h2>
<p>UnReal,
    Askinosie,
    Honeymoon Chocolate,
    French Broad</p>



<h2>Health</h2>
<p>CARE International,
    Raindrop Technique,
    Vitaflex,
    Emotional Release,
    Chemistry of Essential oils,
    History of Laying on of Hands and Anointing,
    Young Living Member #1368012,
    Essential oils,
    Laundry detergent,
    Oral care,
    Personal care,
    Supplements,
    Food,
    Against All Grain,
    Holy Yoga,
    Groovy Organic Cleaning</p>



<h2>Art</h2>
<p>Ruth Chou Simons,
    Amy Grimes,
    The Potress,
    Sight and Sound Theater,
    Storybook Theater,
    Breezy Brookshire,
    Melissa Sweet</p>



<h2>Linen</h2>
<p>Linoto</p>


<h2>Subscription</h2>
<p>Read Aloud Revival, Young Living Rewards (edited)</p>