h1{
    margin: 20px 0px;
}

h2{
    margin-left: 20px;
}

p{
    margin-left: 20px;
}

mat-card {
    margin: 10px;
    width: 420px;
}

mat-icon {
    margin-top: 35px;
}

#sideDiv {
    color: #004D40;
    border: 2px solid gainsboro;
    border-radius: 10px;
    position:fixed;
    right: 10%;
    top: 100px;
}
    
#mainDiv {
    height: 100%;
    background-color: rgb(243, 243, 230);
    padding: 0px 25% 0px 0px;
    scroll-margin-top: 75px;    
}

#resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#heading {
    display: flex;
    justify-content: center;
}

.resource {
    max-width: 450px;
    flex-basis: 50%;
}
  
.sideTitle {
    padding: 5px 20px;
}

/* @media (max-width: 960px) {
    #sideDiv{
      display: none;
    }

    #mainDiv {
        display: flex;
        justify-content: center;
    }
} */

@media (max-width: 960px) {
    #sideDiv{
      display: none;
    }

    #mainDiv {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 961px) {
    mat-icon {
      display: none;
    }
}